.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 13px;
  padding-bottom: 15px;

  &--catalog {
    width: 100%;
    margin-bottom: 27px;
    border-bottom: 1px solid #d9d9d9;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  text-decoration: none;
}


.main-header__logo-image {
  margin-right: 56px;
}

.main-nav__toggle {
  position: relative;

  display: block;
  width: 18px;
  height: 18px;

  border: none;
  background-color: transparent;

  background-image: url("../../icons/stack.svg#icon-burger");
  cursor: pointer;
}

.main-nav__toggle--is-opened {
  background-image: url("../../icons/stack.svg#icon-close");
}
